nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 4rem;
  background-color: #fff;
}

.left-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.myLinks {
  list-style: none;
  display: flex;
  gap: 2.5rem;
}

.myLinks > li {
  font-size: 1rem;
  color: #121212;
}

.logo > h1 {
  color: #0290ff;
  font-size: 1.875rem;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}
